@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);





#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-g small {
  text-align: left;
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
#msg-box3-g .mbr-section-title {
  font-family: 'Playfair Display', sans-serif;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .lead P {
  font-family: 'PT Serif', serif;
  text-align: center;
}
#msg-box3-u .mbr-section-title {
  text-align: center;
}
#social-buttons2-v .mbr-section-title {
  text-align: right;
  color: #000000;
  font-size: 36px;
}
#contacts3-w P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 15px;
  text-align: center;
}
#contacts3-w STRONG {
  font-family: 'PT Serif', serif;
}
#menu-x .navbar-toggler {
  color: #000;
}
